@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Special font for headings or creative text */
.handwriting {
  font-family: "Covered By Your Grace", cursive;
}
/* =====================
   WRAPPER & CONTAINER
===================== */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 1290px;
}

/* logo css */
header {
  max-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-section {
  display: flex;
}
.header-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-menu-link {
  display: flex;
  gap: 20px; /* gap between each li item */
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-menu-link li {
  font-size: 14px;
  font-weight: 400;
}
.sm-btn {
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #2e2f35;
  border-radius: 5px;
  padding: 8px 18px;
}
.lg-btn {
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #2e2f35;
  border-radius: 5px;
  padding: 8px 18px;
  color: white;
  background-color: #ff6d2c;
}
/*===============================================================
             Banner CSS
=================================================================*/
.banner-section {
  height: 756px;
  background-color: #e0f8f2;
}
.banner-left-section {
  background-color: #e0f8f2;
}
section>.wrapper{
    display: flex;
    background-color:#e0f8f2 ;
}
.banner-heading {
  font-size: 82px;
  font-weight: bold;
  line-height: 96px;
  color: #2e2f35;
}
.banner-span-heading {
  color: #009387;
  font-size: 82px;
  line-height: 96px;
  font-weight: 400;
}
.banner-left-section p {
  font-size: 20px;
  font-weight: 400px;
  color: #58595d;
  line-height: 34px;
}
.banner-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}
.banner-btn > .lg-btn {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  width: 261px;
  height: 64px;
}
.banner-star {
  display: flex;
  flex-direction: column; /* stack stars above text */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically with button */
  gap: 4px; /* space between stars and text */
  color: #fdc639;
  height: 52px;
  width: 143px;
}
.banner-star > p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
