@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
body {
    font-family: "Inter", sans-serif;
}

/* Special font for headings or creative text */
.handwriting {
    font-family: "Covered By Your Grace", cursive;
}
/* =====================
   WRAPPER & CONTAINER
===================== */
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.container{
    max-width: 1290px;
    
}

/* logo css */
header{
    max-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-left-section{
    display: flex;
    
}
.header-right-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
 .logo-section{
    display: flex;
    gap: 10px;
    align-items: center;
    

}
.nav-menu-link{
    display: flex;
    gap: 20px; /* gap between each li item */
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.nav-menu-link li{
    font-size:14px;
    font-weight: 400;
}
.sm-btn{
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #2E2F35;
    border-radius: 5px;
    padding: 8px 18px;
}
.lg-btn{
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #2E2F35;
    border-radius: 5px;
    padding: 8px 18px;
    color:white;
    background-color: #FF6D2C;

    
}