@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
*,*::after,
*::after{
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Special font for headings or creative text */
.handwriting {
  font-family: "Covered By Your Grace", cursive;
    color: #009387;
}
/* =====================
   WRAPPER & CONTAINER
===================== */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 0;
}

/* logo css */
header {
  max-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.header-sticky{
 position: sticky;
  top: 0;
  z-index: 999;
  background-color: #d9f7f4;
}

.header-left-section {
  display: flex;
  
  
}
.header-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-menu-link {
  display: flex;
  gap: 20px; /* gap between each li item */
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-menu-link li {
  font-size: 14px;
  font-weight: 400;
}
.sm-btn {
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #bbb7b7;
  border-radius: 10px;
  padding: 8px 18px;
}
.lg-btn {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #bbb7b7;
  border-radius: 10px;
  padding: 8px 18px;
  color: white;
  background-color: #ff6d2c;
}
/*===============================================================
             Banner CSS
=================================================================*/
.banner-section {
  min-height: 756px;
  background-color: #e0f8f2;
}
.banner-left-section {
  background-color: #e0f8f2;
  padding-left: 53px;
}
section>.wrapper{
    display: flex;
    background-color:#e0f8f2 ;
}
.banner-heading {
  font-size:clamp(32px,6vw,82px);
  font-weight: bold;
  line-height: 96px;
  color: #2e2f35;
}
.banner-span-heading {
  color: #009387;
  font-size: 82px;
  line-height: 96px;
  font-weight: 400;
}
.banner-left-section p {
  font-size: 20px;
  font-weight: 400px;
  color: #58595d;
  line-height: 34px;
}
.banner-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}
.banner-btn > .lg-btn {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  width: 261px;
  height: 64px;
}
.banner-star {
  display: flex;
  flex-direction: column; /* stack stars above text */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically with button */
  gap: 4px; /* space between stars and text */
  color: #fdc639;
  height: 52px;
  width: 143px;
}
.banner-star > p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
/* ===============
      trusted-section
      ================ */
      .trusted-section{
        max-height: 666px;

      }
      .trusted-main{
        padding-top: 106px;
        padding-bottom: 96px;
        
      }
      .trusted-main-heading {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        
      }
      .trusted-main-heading >h2{
        margin: 0 auto;
        padding-bottom: 52px;
        font-size: 63px;
        font-weight: bold;
        line-height: 76px;
      }
      .trusted-main-heading span{
        font-size: 63px;
        font-weight: 300;
        line-height: 76px;
      }
      .trusted-div-slider-img{
        box-sizing: border-box;
        display: flex;
        gap:32px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
      }

      /* Direct Mail */
      .direct-mail{
        text-align: center;
        max-height: 643px;
        background-color: #F3FAFA;
      }
      .direct-mail-heading>h2{
        padding-top: 106px;
        font-size: 63px;
        font-weight: bold;
        line-height: 76px;
      }
      .direct-mail-heading > h2 span{
        font-size: 63px;
        font-weight: 300;
        line-height: 76px;
        color: #009387;
      }
      .direct-mail-progress {
        max-width:1024px;
        max-height: 226px;
        margin: 0 auto;
        display: flex;
        gap:80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 96px;
      }
      .direct-mail-progress div h2 {
        font-size: 63px;
        font-weight: bold;
        line-height: 76px;
        color: #2E2F35;
        margin: 0;
        
      }
      .direct-mail-progress div p{
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        color: #58595D;
        margin: 0;
      }
    /* <!-- PostPilot section --> */
    .full-postpilot-section{
      
      background-color: #FDF3EA;
    }
    .postpilot-section{
      max-height: 2637px;
      background-color: #FDF3EA;
    }
.postpilot-section-heading>h2{
  font-size: 70px;
  font-weight: bold;
  line-height: 76px;
  text-align: center;
  padding-top: 70px;
}
.postpilot-section-heading>h2 span{
  font-size: 90px;
  font-weight: 300;
  line-height: 76px;
  color: #009387;
}
.sencond-heading-postpilot{
  padding-top: 80px;
}
.sencond-heading-postpilot span{
  font-size: 80px;
  font-weight: 300;
  line-height: 70px;
}
.sencond-heading-postpilot h2{
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  margin: 0;
}
.sencond-heading-postpilot p{
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #58595D;
  margin: 0;
  padding-top:31px ;
  padding-bottom: 48px;
}
.postpilot-left-section{
justify-items: end;
text-align: start;
}
.postpilot-btn{
  padding-top: 48px;
  padding-bottom: 111px;
}

.your-brand-sec{
  max-height: 1499 px;
  padding-top: 109px;
  padding-bottom: 109px;
}
.your-brand-heading{
    text-align: center;

}
.your-brand-heading>h2{
  font-size: 64px;
  font-weight: bold;
  line-height: 76px;
  margin: 0;
  
}
.your-brand-heading>span{
  font-size: 70px;
  color: #009387;
  font-weight: 300;
  margin: 0;
}
.your-brand-img-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.brand-imag1, .brand-imag3 {
  max-width: 506px;
  min-height: 500px;
  background-color: #ffe0e0;
  text-align: center;
  
  padding: 40px;
  border-radius: 6px;
}
.brand-imag2 {
  max-width: 506px;
  background-color: #E0F8F2;
  text-align: center;
  padding: 40px;
  border-radius: 6px;
}
.brand-imag1 h3,
.brand-imag2 h3,
.brand-imag3 h3{
  padding-top: 44px;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
.brand-imag1 p,
.brand-imag2 p,
.brand-imag3 p{
  font-size: 16px;
  font-weight: 400;
}

/* ++++++++++++++++
Fast launch. Fast results. section
==================== */
.fast-launch-sec{
  max-height: 899px;
  background-color: #E3F8F8;
  padding-top: 106px;
  padding-bottom: 120px;
}
.fast-launch-sec h2{
  font-size: 60px;
  font-weight: bold;
  line-height: 76px;
  text-align: center;
}
.fast-launch-sec span{
  font-size: 60px;

  line-height: 76px;
  color: #009387;
  font-weight: 300;
}
.fast-launch-img{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 42px;
  
}
.fast-launch-img h3{
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  color: #78797a;
  margin: 0;
}

.fast-launch-img-5 p{
  margin-top: -37px;
}
.fast-launch-img-heading{
  color: #000 !important;
  font-size: 30px;
  font-weight: bold;
}
.dtc{
  overflow: clip;
}
.dtc h2{
  padding-top:95px ;
  padding-bottom: 74px;
  font-size: 63px;
  font-weight: bold;
  line-height: 76px;
  text-align: center;
  margin: 0;
}
.dtc span{
  font-size: 63px;
  font-weight: 300;
  line-height: 76px;
  color: #009387;
}
.dtc-images-testimonial{
  display: flex;
  gap: 35px;
}
.dtc-images-div{
  max-width: 410px;

  
  border: solid 1px black;
  border-radius: 15px;
  padding: 10px 20px 40px 20px;
  gap: 35px;
  

}
.dtc-sec-img {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;  
  
}
.inner-dtc{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.inner-dtc-heading h3{
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}
.inner-dtc-heading p{
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.dtc-btn{
  padding-top: 153px;
  padding-bottom: 96px;
  justify-content: center;
}
.drive-profit-sec{
  max-height: 905px;
  background-color: #EEECFF;
  display: flex;
  gap: 64px;
  padding-top: 96px;
}
.drive-profit-sec + img{
  padding-top: 0px;
  padding-bottom: 0px;
}
.drive-sec-heading h2{
  font-size: 48px;
  font-weight: bold;
  line-height: 55px;
  margin: 0;
  color: #2E2F35;
}
.drive-sec-heading span{
  font-size: 63px;
  font-weight: 300;
  line-height: 76px;
  color: #009387;
}
.drive-sec-heading p{
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #58595D;
}
.drive-3-heading-sec{
  display: flex;
  gap: 110px;
  margin-top: 48px;
}
.drive-3-heading-sec div h2{
  font-size: 34px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}
.drive-3-heading-sec div p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #58595D;
  margin: 0;
}
.drive-btn{
  padding-top: 26px;
  padding-bottom: 26px;
}
.drive-btn button{
 
  color: #000 !important;
  background-color: #ffffff;
}
.drive-last-img-section{
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
/* ====================
         Try Postpilot
  ===================== */
  .try-postpilot-wrapper{
     background-color: #FF6D2C;
  }
  .try-postpilot{
    display: flex;
    gap: 138px;
    max-height: 600px;
   
  }
  .left-sec-try-postpilot >h2{
    font-size: 81px;
    font-weight: bold;
    line-height: 94px;
    color: #FFFFFF;
    padding-top: 95px;
    margin: 0;
  }
  .left-sec-try-postpilot >p{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFF;
  }
  .try-postpilot-btn-section{
    display: flex;
    gap: 42px;
    align-items: center;
  }
  .lg-btn-bg{
    background-color: white;
    color: #2b2a2a;
    width: 190px;
    height: 64px;
    font-weight: 600;
  }
  .banner-star-try-postpilot>div> i{
    color: white;
  }
  .banner-star-try-postpilot p{
    margin: 0;
    color: white;
  }

  /* Latest trends & insights */
  .latest-trends-wrapper{
background-color: #F3FAFA;
  }
  .latest-trends{
    max-height: 737px;
    
    padding-top: 95px;
    padding-bottom: 96px;
    
  }
  .latest-trends h2{
    font-size: 68px;
    font-weight: bold;
    line-height: 76px;
    text-align: center;
    padding-bottom: 64px;
    margin: 0;
  }
  .latest-trends-img-sec{
    display: flex;
    gap: 30px;
  }
  .footer-cls{
    max-height: 592px;
    padding-top: 96px;
    

  }
 
.email-li::before {
    content: "\f0e0"; /* envelope icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}
.site-footer{
  max-height: 154px;
  padding-bottom: 30px;
}
.site-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-section{
  display: flex;
  gap: 6px;
}
.upper-footer-col2 ul>li, p {
  margin: 0;
}
.upper-footer-part{
  padding-bottom: 96px;
}
.inner-div-main{
display: flex;
gap: 50px;

}
.inner-div-column{
  display: flex;
     justify-content: start;
    gap: 495px;

}
.inner-div-column h2{
  margin-top: 0;
}
.inner-div-column2{
  display: flex;
      gap: 187px;
  justify-content: space-between;
  list-style: none;
}
.inner-div-column2 div li{
  padding-bottom: 20px;
    font-size: 14px;
    color: #2E2F35;
}
.inner-div-image p{
  padding-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #58595D;
    margin: 0;
}
.inner-div-image img{
  width: 81px;
  height: 79px;

}
/* MOBILE (max-width: 768px) */
@media(max-width:786px){
  /* container padding */
}